

MapWidth=30
MapHeight=30
MapVariant=HellPortal

StartingNumberOfAnimals=100
StatingAnimalEnergy=100
EnergyLostPerDay=10
EnergyNeededForCopulation=27
EnergyWastedOnNewAnimal=20
AnimalGenomeLength=20
MutationVariant=FullRandGen
MinNumberOfMutationsInNewAnimal=1
MaxNumberOfMutationsInNewAnimal=15
AnimalsBehaviorVariant=FullPredestinationGen

StartingNumberOfGrass=100
EnergyFromOneGrass=25
NumberOfGrassPerDay=30
GrassGrowthVariant=ForestedEquators

RefreshTime=700