

MapWidth=50
MapHeight=35
MapVariant=HellPortal

StartingNumberOfAnimals=500
StatingAnimalEnergy=300
EnergyLostPerDay=40
EnergyNeededForCopulation=100
EnergyWastedOnNewAnimal=150
AnimalGenomeLength=4
MutationVariant=FullRandGen
MinNumberOfMutationsInNewAnimal=1
MaxNumberOfMutationsInNewAnimal=3
AnimalsBehaviorVariant=RandomGen

StartingNumberOfGrass=900
EnergyFromOneGrass=200
NumberOfGrassPerDay=200
GrassGrowthVariant=ForestedEquators

RefreshTime=600