

MapWidth=10
MapHeight=10
MapVariant=Glob

StartingNumberOfAnimals=20
StatingAnimalEnergy=30
EnergyLostPerDay=2
EnergyNeededForCopulation=10
EnergyWastedOnNewAnimal=15
AnimalGenomeLength=2
MutationVariant=FullRandGen
MinNumberOfMutationsInNewAnimal=1
MaxNumberOfMutationsInNewAnimal=1
AnimalsBehaviorVariant=RandomGen

StartingNumberOfGrass=20
EnergyFromOneGrass=15
NumberOfGrassPerDay=10
GrassGrowthVariant=ForestedEquators

RefreshTime=800